# Ignore everything
*

# But not these files...
!/.gitignore
!/.github/**
!/examples/*.rs
!/scripts/**
!/build/grammar/*.g4

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# !Makefile

# ...even if they are in subdirectories
!*/

# ANTLR generated parser
parser/